

p {
  color: green;
}
p {
  color: red;
}
h1 {
  background-color: #DDD;
  padding: 10px;
  width: 70%;
  margin: auto;
}
p{  background-color: #DDD;
  padding: 10px;
  width: 70%;
  margin: auto;}
